body {
    margin: 0 0;
    background-color: #0D1117;
    z-index: 0;
    overflow: hidden;
}

#sumeru-img {
    position: relative;
    height: 40%;
    width: 40%;
    z-index: 0;
}  

.item{
    margin-top: 15%;
} 

