body {
    margin: 0 0;
    background-color: #ffffff;
    z-index: 0;
    overflow: hidden;
}

.container {
    display: flex;
    flex-flow: row wrap;
}

.item {
    display: flex;
    height: 100vh;
    width: 30vw;
    background-image: url(http://images6.fanpop.com/image/photos/43700000/The-Secret-World-of-Arrietty-Wallpaper-the-secret-world-of-arrietty-43738783-1920-1080.jpg);
    background-size: 180vh;
    background-repeat: no-repeat;
}

#item1 {
    flex-flow: column wrap;
    justify-content: center;
}

#item2 {
    width: 70vw;
    height: 200vh;
    background-image: url(https://staticg.sportskeeda.com/editor/2022/01/52838-16430106185586-1920.jpg);
    background-size: 177vh;
    opacity: 30%;
    filter:blur(3px);
}

#sumeru1 {
    width: 30vw;
    height: auto;
}

#sumeru3 {
    width: 30vw;
    height: auto;
}

#item1 h1 {
    color: white;
    background-color: #0d1117a1;
    text-align: center;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
}

